<% provide :title, t("static_page.signup") %>
<div class="row" id="signup">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><%= t "static_page.signup" %></h1>
    <%= render "form" %>
  </div>
</div>
